body {
    margin: 0;
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: #f3f3f3;
    transition: 0.3s;
}

body.dark {
    background: #1e1e1e;
}

.chat-container {
    width: 420px;
    background: white;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 0 20px rgba(0,0,0,0.2);
    transition: 0.3s;
}

body.dark .chat-container {
    background: #2d2d2d;
}

.chat-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    background: #4f46e5;
    color: white;
}

#themeBtn {
    background: none;
    border: none;
    font-size: 20px;
    cursor: pointer;
}

.chat-box {
    height: 450px;
    overflow-y: auto;
    padding: 15px;
}

.message {
    max-width: 80%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 10px;
    line-height: 1.4;
}

.user {
    background: #d1e7ff;
    align-self: flex-end;
}

.bot {
    background: #e9e9e9;
}

body.dark .bot {
    background: #3b3b3b;
    color: white;
}

body.dark .user {
    background: #0078ff;
    color: white;
}

.input-area {
    display: flex;
    padding: 15px;
    background: #eaeaea;
}

body.dark .input-area {
    background: #333;
}

.input-area input {
    flex: 1;
    padding: 10px;
    border: none;
    outline: none;
    border-radius: 6px;
}

.input-area button {
    margin-left: 10px;
    padding: 10px 16px;
    border: none;
    background: #4f46e5;
    color: white;
    cursor: pointer;
    border-radius: 6px;
}
.controls {
    display: flex;
    gap: 10px;
    padding: 10px;
    background: #eaeaea;
    justify-content: center;
}

body.dark .controls {
    background: #333;
}

.controls button {
    padding: 8px 12px;
    border-radius: 6px;
    border: none;
    cursor: pointer;
    background: #4f46e5;
    color: white;
}
